[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
geopy = "*"
ipgetter = "*"
python-dateutil = "*"
maxminddb-geolite2 = "*"
requests = "*"
win-inet-pton = "*"

[dev-packages]

[requires]
python_version = "3.9"
